.Note__Container {
  height: 5rem;
  border-bottom: solid 1px lightgray;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  position: relative;
}

.Note__Done {
  grid-column: 1/2;
  display: flex;
  align-items: center;
}

.Note__DoUntil {
  grid-column: 2/5;
  display: flex;
  align-items: center;
  padding-right: 1rem;
}

.Note__Info {
  grid-column: 5/10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
  cursor: pointer;
}

.Note__Importance {
  grid-column: 10/12;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1rem;
}

.Note__Edit {
  grid-column: 12/13;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.Note__Popover {
  padding: 1rem;
}

@media screen and (max-width: 600px) {
  .Note__Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .Note__Info {
    text-align: center;
    max-width: 60%;
  }

  .Note__Edit {
    justify-content: flex-start;
  }
}
