body {
  font-family:'Segoe UI', 'Roboto';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.No-Text-Wrap{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
}

.Wrapper{
  display: grid;
  grid-template-columns: repeat(6, 1fr);  
}

.Wrapper__Content{
  grid-column: 2/6; 
}

@media screen and (max-width: 600px) {
  .Wrapper__Content{
      grid-column: 1/7;  
      padding-left: 2rem;  
      padding-right: 2rem;  
  }
}