.Loading__Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Loading__Title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
}

.Loading__TitleLogo {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.Loading__TitleLogo h2 {
  margin-right: 1rem;
}

.Loading__Spinner {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
