.Overview__Wrapper {
  position: relative;
  min-height: 15vh;
}

.Overview__Toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Overview__AddButton {
  position: absolute;
  bottom: -4rem;
  right: 1rem;
}

@media screen and (max-width: 600px) {
  .Overview__Toolbar {
    flex-direction: column;
  }
}
