.Edit__Container {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.Edit__Buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-end;
  color: red;
}

.Edit__Buttons Button {
  margin-left: 1rem;
  min-width: 6rem;
}
