.Register__Container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register__Title {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2196f3;
  color: white;
  height: 30%;
  width: 100%;
  text-align: center;
}

.Register__TitleLogo {
  display: flex;
  align-items: center;
  font-size: 4rem;
}

.Register__TitleLogo h2 {
  margin-right: 1rem;
}

.Register__Form {
  margin-top: 1rem;
  height: 10%;
  width: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Register__Buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.Register__Buttons Button {
  width: 40%;
}
